<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Accordion Layout</title>
  <link rel="stylesheet" type="text/css" href="css/accordion.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
  <div class="container">
    <h1>Javascript Animated Accordion</h1>
    <div class="acc">
      <dl>
        <dt><a class="acc_title" href="#">To Do List</a></dt>
        <dd class="acc_panel acc_panel_col">

          <div id="tasker" class="tasker">
            <div id="error" class="error">Please enter a task</div>
            <div id="tasker-header" class="tasker-header">
              <input type="text" id="input-task" placeholder="Enter a task">
              <button id="add-task-btn"><i class="fa  fa-plus"></i></button>
            </div>
            <div class="tasker-body">
              <ul id="tasks"></ul>
            </div>
          </div>
        </dd>
        <dt><a href="#" class="acc_title">Radial Menu</a></dt>
        <dd class="acc_panel acc_panel_col">
          <nav class="circular-menu">

            <div class="circle">
              <a href="https://dedebrahma.github.io/" class="fa fa-briefcase fa-2x"></a>
              <a href="https://id.linkedin.com/in/dede-brahma-92158177" class="fa fa-linkedin fa-2x"></a>
              <a href="https://id-id.facebook.com/dede.brahma" class="fa fa-facebook fa-2x"></a>
              <a href="https://twitter.com/dede_brahma" class="fa fa-twitter fa-2x"></a>              
              <a href="https://github.com/DedeBrahma" class="fa fa-github fa-2x"></a>
              <a href="https://www.instagram.com/dede_brahma/" class="fa fa-instagram fa-2x"></a>
              <a href="https://id.pinterest.com/dedebrahma/" class="fa fa-pinterest fa-2x"></a>              
              <a href="https://plus.google.com/+DedeBrahma" class="fa fa-google-plus fa-2x"></a>
            </div>
            <a href="" class="menu-button fa fa-bars fa-2x"></a>
          </nav>
        </dd>
        <dt><a href="#" class="acc_title">Step Registration</a></dt>
        <dd class="acc_panel acc_panel_col">
          <div class="step" id="step">
          <form>
            <ul class="items"></ul>
            <fieldset class="username enable">
              <div class="icon left"><i class="user"></i></div><input type="text" name="username" placeholder="Username" />
              <div class="icon right button"><i class="arrow"></i></div>
            </fieldset>
            <fieldset class="email">
              <div class="icon left"><i class="letter"></i></div><input type="mail" name="email" placeholder="Email" />
              <div class="icon right button"><i class="arrow"></i></div>
            </fieldset>
            <fieldset class="password">
              <div class="icon left"><i class="lock"></i></div><input type="password" name="password" placeholder="Password" />
              <div class="icon right button"><i class="arrow"></i></div>
            </fieldset>
            <fieldset class="thanks">
              <div class="icon left"><i class="heart"></i></div>
              <p>Thanks for your time</p>
              <div class="icon right"><i class="heart2"></i></div>
            </fieldset>
          </form>
          </div>
        </dd>        
      </dl>
    </div>
  </div>



  <script src="js/accordion.js" charset="utf-8"></script>
  <script src="js/toDo.js" charset="utf-8"></script>
  <script src="js/radialMenu.js" charset="utf-8"></script>
  <script src="js/step.js" charset="utf-8"></script>

</body>

</html>