/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300); */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-image: linear-gradient(135deg, rgba(155, 89, 182, 0.8) 0%, rgba(211, 84, 0, 0.8) 100%), url("/images/menara.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
h1 {
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
  font-weight: 300;
  color: #444;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.acc {
  position: relative;
  /* background-color: #fff; */
  border-radius:50px;
}
/* .acc dl {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} */
.acc dl:before {
  content: "";
  display: block;
  height: 1em;
  width: 92%;
  background-color: #DC6180;
  border-radius:50px;
  margin-left: 43px;
}
.acc dl:after {
  content: "";
  display: block;
  height: 1em;
  width: 92%;
  background-color: #DC6180;
  border-radius:50px;
  margin-left: 43px;
}
.acc dt > a {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  padding: 30px;
  display: block;
  text-decoration: none;
  color: #fff;
  border-radius:50px;
  -webkit-transition: background-color 0.5s ease-in-out;
}
.acc dd {
  /* background-color: #DC6180; */
  background: rgba(255, 255, 255, 0.2);
  width: 90%;
  font-size: 1em;
  line-height: 1.5em;
  /* background-image: linear-gradient(to top, #444 0%, #DC6180 100%); */
  /* -webkit-background-clip: text; */
  margin-left: 50px;
  /* -webkit-text-fill-color: transparent; */
}
.acc dd > p {
  padding: 1em 2em 1em 2em;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 0 0 0;
}
.acc_title {
  /* background-color: #3498db; */
  background: #35394a; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #35394a 0%, #1f222e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#35394a), color-stop(100%,#1f222e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #35394a 0%,#1f222e 100%); /* IE10+ */
    background: linear-gradient(45deg,  #35394a 0%,#1f222e 100%);
  border-bottom: 1px solid #DC6180;
  text-transform: uppercase;
}
.acc_title:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.acc_title:hover {
  background-color: #2980b9;
}
.acc_title_active {
  background-color: #2980b9;
}
.acc_title_active:before {
  transform: rotate(-225deg);
}
.acc_panel {
  height: auto;
  overflow: hidden;
}
@media all {
  .acc_panel {
    max-height: 50em;
    transition: max-height 1s;
  }
}
@media screen and (min-width: 48em) {
  .acc_panel {
    /* max-height: 15em; */
    transition: max-height 0.5s;
  }
}
.acc_panel_col {
  max-height: 0;
}
.anim_in {
  animation-name: acc_in;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.anim_out {
  animation-name: acc_out;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}
@keyframes acc_in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes acc_out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* To Do List */

.tasker ul, .tasker li, .tasker .error, .tasker button, .tasker input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
.tasker-header button, .tasker-body .task button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.tasker {
  max-width: 400px;
  margin: 20px auto;
}
.tasker .error {
  display: none;
  background: rgba(237, 28, 36, 0.7);
  color: #fff;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}
.tasker ul {
  background: #fff;
}
.tasker li, .tasker .error, .tasker button, .tasker input {
  font: 18px/1.25em Helvetica, Arial, Sans-serif;
}
.tasker-header {
  display: inline-flex;
  background: #313e50;
  justify-content: space-between;
  width: 100%;
}
.tasker-header input, .tasker-header button {
  color: #fff;
  box-sizing: border-box;
  font-size: 1.25em;
  padding: 14px;
}
.tasker-header input {
  flex-grow: 2;
}
.tasker-header button {
  background: #DC6180;
  border-left: 1px solid #DC6180;
}
.tasker-header button:hover {
  background: #DC6180;
  cursor: pointer;
}
.tasker-body .task {
  display: block;
  position: relative;
  padding: 14px 40px 14px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tasker-body .task:last-child {
  border-bottom: none;
}
.tasker-body .task:hover > button {
  opacity: 1;
}
.tasker-body .task.completed {
  color: #cdcdcd;
  text-decoration: line-through;
}
.tasker-body .task input {
  margin-right: 10px;
}
.tasker-body .task button {
  color: #cdcdcd;
  margin: 14px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.tasker-body .task button:hover {
  color: #313e50;
  cursor: pointer;
}

/* Menu Radial */
.circular-menu {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 380px;
  height: 350px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle a {
  text-decoration: none;
  color: #35394a;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.circle a:hover {
  color: #eef;
}

.menu-button {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: #DC6180;
  border-radius: 50%;
  display: block;
  height: 90px;
  width: 90px;
  line-height: 40px;
  padding: 30px;
  background: #35394a;
}

.menu-button:hover {
  color: #35394a;
  background: #eef;
}


/* Step Registration */
.step {
	/* background: #33cc33; */
  font-family: sans-serif;
  margin-top: -20px;
}

/* .step  fieldset {
	box-shadow: 0 8px 10px #29a329;
} */

.error {
	background: rgba(237, 28, 36, 0.7);
}

.error fieldset {
	box-shadow: 0 8px 10px rgba(237, 28, 36, 0.7);
}

.step  ul {
  position: absolute;
  color: transparent;
	width: 30px;
	height: auto;
	top: 5%;
	left: -80px;
	transform: translateY(-50%);
}

.step  ul.items li {
	width: 8px;
	height: 8px;
	margin: 10px 0;
	background: #35394a;
	border-radius: 50%;
	opacity: 0.4;
	cursor: pointer;
}

.step ul.items li.active {
	opacity: 1;
}

.step form {
	position: relative;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 45%;
  transform: translate(-50%, 35%);
  margin-top: 20px;
}

.step form fieldset {
	position: absolute;
	width: 400px;
	height: 70px;
	background: #35394a;
  border-radius: 3px;
  border: none;
	opacity: 0;
	transform: scale(0.2);
	transition: all 0.4s ease-in-out;
}

.step form fieldset input, form fieldset p {
	display: inline-block;
	width: 200px;
	margin-left: 50px;
	color: #333333;
	font-size: 16px;
	letter-spacing: 1px;
}

.step form fieldset p {
	margin-top: 15px;
  text-align: center;
  color: #eef;
  width: 250px;
}

.step form fieldset input {
  width: 270px;
	height: 50px;
	margin-top: 10px;
	border: none;
  outline: none;
  background: none;
  color: #eef;
}

.step form fieldset .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 15px;
	transition: all 0.4s ease;
}

.step form fieldset .icon i {
	position: absolute;
	display: block;
}

.step form fieldset .icon i::before, form fieldset .icon i::after {
	position: absolute;
	content: '';
}

.step form fieldset .icon.left {
  left: 10px;
  top: 10px;
}

.step form fieldset .icon.right {
	right: 10px;
	cursor: pointer;
}

.step form fieldset .icon.button:hover {
	background: #f2f2f2;
	border-radius: 3px;
	transition: all 0.4s ease;
}

.step form fieldset.enable {
	z-index: 1;
	opacity: 1;
	transition: all 0.5s ease-out 0.2s;
	transform: scale(1);
	 animation: enable 0.5s ease-out 0.2s; 
}

.step form fieldset.disable {
	opacity: 0;
	transition: all 0.3s ease-in;
	transform: translateY(120px) scale(0.9);
}

.error fieldset {
	transform-origin: 50% 100%;
	animation: error 0.3s ease-out;
}

@keyframes enable {
	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	60% {
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes error {
	0%, 50%, 100% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(-3deg);
	}

	75% {
		transform: rotate(3deg);
	}
}

/**
 * Icons in CSS, long as f****
 */
.icon .arrow {
	width: 2px;
	height: 17px;
	top: 10px;
	left: 18px;
	background: #DC6180;
}

.icon .arrow::before {
	width: 6px;
	height: 6px;
	bottom: -3px;
	left: -3px;
	color: #DC6180;
	border-right: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(45deg);
}

.icon .user {
	width: 20px;
	height: 10px;
	bottom: 5px;
	left: 5px;
	box-shadow: 0 0 0 2px #DC6180 inset;
	border-radius: 6px 6px 3px 3px;
}

.icon .user::before {
	width: 10px;
	height: 10px;
	top: -9px;
	left: 5px;
	box-shadow: 0 0 0 2px #DC6180 inset;
	border-radius: 50%;
}

.icon .letter {
	width: 20px;
	height: 15px;
	top: 22px;
	left: 5px;
	box-shadow: 0 0 0 2px #DC6180 inset;
	border-radius: 3px;
}

.icon .letter::before, .icon .letter::after {
	width: 11px;
	height: 2px;
	top: 4px;
	background: #DC6180;
}

.icon .letter::before {
	left: 0;
	transform: rotate(30deg);
}

.icon .letter::after {
	right: 0;
	transform: rotate(-30deg);
}

.icon .lock {
	width: 20px;
	height: 16px;
	top: 21px;
	left: 5px;
	box-shadow: 0 0 0 2px #DC6180 inset;
	border-radius: 3px;
}

.icon .lock::before {
	width: 8px;
	height: 8px;
	top: -4px;
	left: 4px;
	border: 2px solid transparent;
	border-top: 2px solid #DC6180;
	border-right: 2px solid #DC6180;
	border-radius: 50%;
	transform: rotate(-45deg);
}

.icon .lock::after {
	width: 6px;
	height: 7px;
	top: 4px;
	left: 7px;
	box-shadow: 0 0 0 2px #DC6180 inset;
}

.icon .heart {
	width: 10px;
	height: 10px;
	top: 22px;
	left: 15px;
	background: #DC6180;
	transform: rotate(45deg);
}

.icon .heart::before, .icon .heart::after {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #DC6180;
}

.icon .heart::before {
	left: -6px;
}

.icon .heart::after {
	top: -6px;
}



.icon .heart2 {
	width: 10px;
	height: 10px;
	top: 15px;
	left: 7px;
	background: #DC6180;
	transform: rotate(45deg);
}

.icon .heart2::before, .icon .heart2::after {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #DC6180;
}

.icon .heart2::before {
	left: -6px;
}

.icon .heart2::after {
	top: -6px;
}


